* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
nav {
  width: 100%;
  background-color: darkslateblue;
  height: 20px;
  padding: 2%;
  text-align: center;
  color: white;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.input-container,
.display-emojis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5% 5%;
  width: 40%;
}
.input-box {
  width: 90%;
  border: solid 1px black;
  height: 30px;
}
.emoji-list {
  list-style: none;
}
.list-item {
  display: inline-block;
  margin: 2%;
  height: 40px;
  width: 40px;
}
