* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html,
body,
#root,
.main-container {
  height: 100%;
}
body {
  background-image: url("https://i.imgur.com/4FM8bp8.jpg");
  background-position: center;
  background-repeat: repeat;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslateblue;
  padding: 3%;
  text-align: center;
  color: white;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  background-color: white;
}
.input-container,
.display-emojis {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5% 5%;
  width: 40%;
}
.input-box {
  width: 90%;
  border: solid 1px black;
  height: 30px;
}
.result-label {
  color: blue;
}
.emoji-list {
  list-style: none;
}
.list-item {
  display: inline-block;
  margin: 2%;
  height: 40px;
  width: 40px;
}
.emoji-meaning-display {
  font-size: 1.5em;
  color: blue;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .input-container {
    width: 90%;
  }
  .display-emojis {
    width: 90%;
  }
  .main-container {
    width: 80%;
  }
}
